.back  {
    background-color: #18D2CD !important;
}

.logo  {
    float: right !important;

} 
.float {
    float: right !important;
    background-color: #18D2CD;
    margin-right: 20px;

} 
.edit{
    color: #18D2CD !important;
} 
.align {
    
    float: left;
 
 }

.add {
    
   color: #EEE338;

}  
.title {
    float: left !important;
    font-size: 30px;
    margin-top: 20px !important;

}
.top {
    
    margin-top: 20px !important;

}
th {
    
    color: #18D2CD !important;

}
.four {
    background-color: black;
    border: 1px solid black;
    height: 40px;

}
.eight {
    background-color: #18D2CD ;
    border: 1px solid #18D2CD ;
    height: 40px;

}
.title2 {
    float: left !important;
    font-size: 20px;
    color: white;
    margin-top: 10px !important;

}
.buscar{
    background-color: #4A5151 ;
}