
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <span class="title text-left" >
       Repartidores

            </span>
            <span class="logo" >
                <img src="./assets/img/yellow.png" alt="yellow" />
         
                     </span>
        </div>

    </div>
    <div class="row">
        <div class="col-md-8 eight">
            <strong class="title2 text-left" >
                Tipos de Repartidores
         </strong>
        </div>
        <div class="col-md-4 four">
            
        </div>

    </div>
  
    <div class="top"> </div>

<div></div>
<div></div>
<button mat-mini-fab class="float">
  <mat-icon aria-hidden="false" aria-label="add" class="add" (click)="openDialog()" >add</mat-icon>
</button>
<br />
<br />
<div class="">
  <table mat-table [dataSource]="dataSource" style="width: 100%;">

    <ng-container matColumnDef="ID">
      <th mat-header-cell *matHeaderCellDef>ID</th>
      <td mat-cell *matCellDef="let tipos"> {{tipos.id}} </td>
    </ng-container>

    <ng-container matColumnDef="Tipo de Repartidor">
      <th mat-header-cell *matHeaderCellDef> Tipo de Repartidor</th>
      <td mat-cell *matCellDef="let tipos"> {{tipos.tipo_repartidor}} </td>
    </ng-container>

    <ng-container matColumnDef="id">
        <th colspan="2" mat-header-cell *matHeaderCellDef> Acciones </th>
      <td mat-cell *matCellDef="let tipos">
        <mat-icon aria-hidden="false" aria-label="Example home icon"  class="edit" >edit</mat-icon><mat-icon aria-hidden="false" aria-label="toggle-on" class="delete" (click)="borrar(tipos.id)" >delete_forever</mat-icon></td>
  </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator #paginator [length]="dataSource.filteredData.length" [pageIndex]="0" [pageSize]="10" [pageSizeOptions]="[1, 10, 25]" showFirstLastButtons></mat-paginator>
</div>

</div>
