
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <span class="title text-left" >
       Reportes

            </span>
            <span class="logo" >
                <img src="./assets/img/yellow.png" alt="yellow" />
         
                     </span>
        </div>

    </div>
    <div class="row">
        <div class="col-md-8 eight">
            <strong class="title2 text-left" >
                Envíos
         </strong>
        </div>
        <div class="col-md-4 four">
    
        </div>

    </div>
    <div class="top"> </div>

<div></div>
<div></div>
<button mat-mini-fab class="float">
  <mat-icon aria-hidden="false" aria-label="add" class="add" >add</mat-icon>
</button>
<button type="button" class="left" (click)="exportEnvios()">Exportar</button> 

<br />
<br />
<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" style="width: 100%;">

  
    <ng-container matColumnDef="Fecha">
      <th mat-header-cell *matHeaderCellDef> Fecha </th>
      <td mat-cell *matCellDef="let envio"> {{envio.fecha_creacion}} </td>
    </ng-container>

    
    <ng-container matColumnDef="Hora,">
      <th mat-header-cell *matHeaderCellDef> Hora, </th>
      <td mat-cell *matCellDef="let envio"> {{envio.fecha_creacion}} </td>
    </ng-container>

    
    <ng-container matColumnDef="Repartidor">
      <th mat-header-cell *matHeaderCellDef>Repartidor </th>
      <td mat-cell *matCellDef="let envio"> {{envio.repartidor_persona_id}} </td>
    </ng-container>

  
    <ng-container matColumnDef="Importe.">
      <th mat-header-cell *matHeaderCellDef> Importe. </th>
      <td mat-cell *matCellDef="let envio"> {{envio.costo_maximo_envio}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator #paginator [length]="dataSource.filteredData.length" [pageIndex]="0" [pageSize]="10" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>
 
</div>
