.back  {
    background-color: #18D2CD !important;
}

.logo  {
    float: right !important;

} 
.float {
   
    background-color: #18D2CD;
    margin-right: 20px;
} 
.float2 {
    float: right !important;
} 

.add {
    
   color: #EEE338;
} 
.align {
    
    float: left;

 
 }
.add2 {
    border-color: white;
    color: white;
 } 
 .add3 {
    background-color: #6A7B71 !important;
 }  
.title {
    float: left !important;
    font-size: 25px;
    margin-top: 20px !important;

}
.top {
    
    margin-top: 20px !important;

}
th {
    
    color: #18D2CD !important;

}
.four {
    background-color: black;
    border: 1px solid black;
    height: 45px;

}
.eight {
    background-color: #18D2CD ;
    border: 1px solid #18D2CD ;
    height: 45px;

}
.buscar{
    background-color: #4A5151 ;
    border-radius: 12px !important;
}
.edit{
    color: #18D2CD ;
}

table {
    width: 100%;
  }
  input{
    color: white !important;
}