<div class="container-fluid">  
    <div style="width: 100%; height: 30px;  text-align: left" class="title">
     <mat-icon aria-hidden="false" aria-label="add" class="add" >add</mat-icon> <h3 class="title2"> Datos Generales</h3>
      </div>
      <br />
      <mat-dialog-content [formGroup]="form">
        <input  matInput formControlName="operar_en" [hidden]="true"> 
        <input  matInput formControlName="estado" [hidden]="true"> 
        <input  matInput formControlName="tipo_repartidor" [hidden]="true"> 
        <input  matInput formControlName="categoria_comercio_id" [hidden]="true"> 
        <input  matInput formControlName="tipo_liquidacion" [hidden]="true">          
        <mat-form-field>
            <mat-label>Nombre de la Tienda</mat-label>
            <input matInput formControlName="nombre">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Localidad</mat-label>
            <input matInput formControlName="localidad">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Teléfono</mat-label>
            <input matInput formControlName="telefono">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Nit</mat-label>
            <input matInput formControlName="nit">
        </mat-form-field>
    <br />
        <mat-label class="bd"> Tarifa</mat-label>
        <select class="form-control sel1"  formControlName="tarifa_id" > 
          <option *ngFor="let td of tarifa" [value]="td.id"  >{{td.nombre}}</option>
        </select> 
    </mat-dialog-content>
    <mat-dialog-actions class="buttons">
        <button type="button" class="btn btn-light" (click)="close()" class="btn btn-dark btn">Cancelar</button>
        <button [mat-dialog-close]="Insert"  type="button" class="btn btn-success save" (click)="save()">Guardar</button>    
    </mat-dialog-actions>
    </div>

