
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <span class="title text-left" >
       Reportes

            </span>
            <span class="logo" >
                <img src="./assets/img/yellow.png" alt="yellow" />
         
                     </span>
        </div>

    </div>
    <div class="row">
        <div class="col-md-8 eight">
            <strong class="title2 text-left" >
                Campañas
         </strong>
        </div>
        <div class="col-md-4 four">
    
        </div>

    </div>
    <div class="top"> </div>

<div></div>
<div></div>
<button mat-mini-fab class="float">
  <mat-icon aria-hidden="false" aria-label="add" class="add" >add</mat-icon>
</button>
<button type="button" class="left">Exportar</button>
<table class="table top">
    <thead>
      <tr>
        <th>Desde</th>
        <th>Hasta</th>
        <th>Influencer</th>
        <th>Red Social</th>
        <th>Tienda</th>
        <th>Producto</th>
        <th>Clicks</th>
        <th>Conversiones</th>
        <th>Ventas</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>John</td>
        <td>Doe</td>
        <td>John</td>
        <td>Doe</td>
        <td>John</td>
        <td>Doe</td>
        <td>John</td>
        <td>Doe</td>
        <td>John</td>
      </tr>
     
    </tbody>
  </table>

 
</div>

