
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <span class="title text-left" >
       Repartidores

            </span>
            <span class="logo" >
                <img src="./assets/img/yellow.png" alt="yellow" />
         
                     </span>
        </div>

    </div>
    <div class="row">
        <div class="col-md-8 eight">
        </div>
        <div class="col-md-4 four">
            <form class="form-inline">
              <span class="glyphicon glyphicon-search"></span>
                <div class="input-group">
                  <span class="">@</span>
                  <input type="text" class="form-control buscar" placeholder="Buscar" (keyup)="applyFilter($event.target.value)">
                </div>    
              </form>
    
        </div>

    </div>
  
    <div class="top"> </div>
<div></div>
<div></div>
<button mat-mini-fab class="float">
  <mat-icon aria-hidden="false" aria-label="add" class="add" (click)="openDialog()">add</mat-icon>
</button>
<br />
<br />

<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" style="width: 100%;">

    <ng-container matColumnDef="ID Repartidor">
      <th mat-header-cell *matHeaderCellDef> ID Repartidor </th>
      <td mat-cell *matCellDef="let repart"> {{repart.id}} </td>
    </ng-container>

    <ng-container matColumnDef="Nombre">
      <th mat-header-cell *matHeaderCellDef> Nombre y Apellido</th>
      <td mat-cell *matCellDef="let repart"> {{repart.persona.nombre}} {{repart.persona.apellidos}}</td>
    </ng-container>

    <!--ng-container matColumnDef="Apellidos ">
      <th mat-header-cell *matHeaderCellDef> Apellidos </th>
      <td mat-cell *matCellDef="let repart"> {{repart.persona.apellidos}} </td>
    </ng-container-->

    <ng-container matColumnDef="Telefono">
      <th mat-header-cell *matHeaderCellDef> Teléfono </th>
      <td mat-cell *matCellDef="let repart"> {{repart.persona.telefono}} </td>
    </ng-container>

     <ng-container matColumnDef="Tipo">
      <th mat-header-cell *matHeaderCellDef> Tipo de Repartidor </th>
      <td mat-cell *matCellDef="let repart"> {{repart.tipo_repartidor}} </td>
    </ng-container>

    <ng-container matColumnDef="Vehículo">
      <th mat-header-cell *matHeaderCellDef> Vehículo </th>
      <td mat-cell *matCellDef="let repart"> {{repart.transporte.tipo_transporte_nombre}} </td>
    </ng-container>

    <ng-container matColumnDef="Patente">
      <th mat-header-cell *matHeaderCellDef> Patente </th>
      <td mat-cell *matCellDef="let repart"> {{repart.transporte.dominio}} </td>
    </ng-container>

    <ng-container matColumnDef="a">
        <th colspan="3" mat-header-cell *matHeaderCellDef> Acciones </th>
      <td mat-cell *matCellDef="let repart">
      
        <mat-icon aria-hidden="false" aria-label="Example home icon" routerLink="/repartidores/repartidor/{{repart.id}}" class="visi align">visibility</mat-icon><mat-icon aria-hidden="false" aria-label="Example home icon"  class="edit align">edit</mat-icon>
        <app-toggle (changed)="onChange($event)" class="align">
        </app-toggle></td>
  </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator #paginator [length]="dataSource.filteredData.length" [pageIndex]="0" [pageSize]="10" [pageSizeOptions]="[1, 10, 25, 100]" showFirstLastButtons></mat-paginator>
</div>


</div>
