<div class="container-fluid">  
    <div style="width: 100%; height: 30px;  text-align: left" class="title">
     <mat-icon aria-hidden="false" aria-label="add" class="add" >add</mat-icon> <h3 class="title2"> Categoría Tienda</h3>
      </div>
      <br />
      <mat-dialog-content [formGroup]="form">  
        <br /> 
        <input  matInput formControlName="nombre" [hidden]="true"> 
        <input  matInput formControlName="operar_en" [hidden]="true"> 
        <input  matInput formControlName="tipo_repartidor" [hidden]="true"> 
        <input  matInput formControlName="tipo_liquidacion" [hidden]="true"> 
        <input  matInput formControlName="localidad" [hidden]="true"> 
        <input  matInput formControlName="estado" [hidden]="true"> 
        <input  matInput formControlName="telefono" [hidden]="true"> 
        <input  matInput formControlName="nit" [hidden]="true">  
        <input  matInput formControlName="tarifa_id" [hidden]="true">  
        <!--input  matInput formControlName="categoria_comercio_id" [hidden]="true"--> 
        <mat-form-field [hidden]="true">
            <mat-label>Descripcion</mat-label>
            <input matInput formControlName="descripción">
        </mat-form-field>
        <mat-label class="lbl"> Categoría de Tienda</mat-label>
                 <select class="form-control sel1"  formControlName="categoria_comercio_id" > 
                  <option *ngFor="let v of vh" [value]="v.id"  >{{v.nombre}}</option>
                </select> 
    </mat-dialog-content>
    <br /> 
    <mat-dialog-actions class="buttons">
        <button type="button" class="btn btn-light" (click)="close()" class="btn btn-dark btn">Cancelar</button>
        <button [mat-dialog-close]="Insert"  type="button" class="btn btn-success save" (click)="save()">Guardar</button>    
    </mat-dialog-actions>
    </div>

